.container{
width:  500px;
color:black;
font-size: 20px;
margin: 0 auto;
}

.itemName{
    font-weight: bold;
    padding: 20px;
}

.line {
    border:1px solid #f4f4f4;
    margin-top: 20px;
}

.deleteButton{
    margin-bottom: 2px;
    border :none;
    border-radius: 5px;
    background-color: #f7ca18;
    padding: 10px 16px;
    color: white;
    cursor: pointer;
    float:right;
}

.completed{
    text-decoration: line-through;
}